body {
    background-image: url('https://get.wallhere.com/photo/anime-anime-girls-Hololive-Virtual-Youtuber-Sakura-Miko-long-hair-pink-hair-solo-artwork-digital-art-fan-art-2145421.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 

}